# Carpetas generadas durante la compilación
bin/
obj/

# Archivos compilados
*.o
*.obj
*.exe

# Archivos temporales de Code::Blocks
*.depend
*.layout

# Configuración local de Visual Studio Code
.vscode/